.App {
  background-color: antiquewhite;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;

  box-sizing: border-box;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Header {
  width: 100%;
}

.Body {
  background-color: jm;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}